* {
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body {
  background-image:url(http://st.gde-fon.com/wallpapers_original/526823_zakat_plyazh-vozle-la-push_vashington_3444x2238_www.Gde-Fon.com.jpg);
  background-repeat: no-repeat;
  background-size:100% auto;
  background-position: fixed;
  background-color: black;
}

.navigation li {
  display: inline;
}

.landing {
  float: center;
  margin: 22% auto;
}

.landing h1 {
  color: white;
  text-shadow: 3px 3px 0px #393E40;
  text-align: center;
  font-size: 60px;
}

.landing p {
  line-height: 50%;
  font-size: 20px;
  color: white;
  text-align: center;
}

/*#down {
  margin: 570px;
  border-style: solid;
  border-width: 2px;
  color: grey;
  font-size: 2em;
  opacity: 0.7;
}*/